/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=latin-ext');

@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(slick.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
     transition: ease all 0.5s;
}

html {
     scroll-behavior: smooth;
}

body {
     color: #666666;
     background-color: #f9f9f9;
     font-size: 14px;
     font-family: 'Raleway', sans-serif;;
     line-height: 1.80857;
     font-weight: normal;
     overflow-x: hidden;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 48px
}

h2 {
     font-size: 22px
}

h3 {
     font-size: 18px
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

strong {
	font-weight: 800;
}

mark{
    background-color: #8FFA9E;
	padding:0.1em 0.2em;
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 20px;
     font-weight: 600;
     font-size: 15px;
     line-height: 24px;
     color: #110f0a;
}

a {
     color: #ffffff;
     text-decoration: none;
     outline: none !important;
}

.layout_padding {
   padding: 90px 0;
}

.center-desk{ width: 100%; float: left; padding-bottom: 20px; }

.header_main{
	width: 100%;
	float: left;
	/*background-image: url(../images/banner.png);*/
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	background-size:cover;
	background-size: 100%;
    background-repeat: no-repeat;
	
    background: rgb(20,65,29);
	background: linear-gradient(110deg, rgba(20,65,29,1) 0%, rgba(27,88,39,1) 30%, rgba(60,186,84,1) 100%);
}

.main-menu ul>li a {
    line-height: 20px;
    font-size: 16px;
    display: block;
    font-weight: 500;
    color: #ffffff;
    padding: 22px 20px;
    text-transform: uppercase;
}

nav.main-menu {
    float: right;
    margin-left: 0;
}

.main-menu ul {
    margin: 0;
    list-style-type: none;
    margin-bottom: 10px;
}

ul, li, ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
	transition: 150ms transform cubic-bezier(0, 1, 0, 1);
}

.main-menu ul li:first-child {
    margin-left: 0;
}
.main-menu ul>li {
    position: inherit;
    display: inline-block;
    vertical-align: middle;
}

.main-menu ul>li a:hover {
    color: #fff;
}

.mean-container .mean-bar { background: transparent /*rgba(27,88,39,1)*/;}

.web_taital{
	font-size: 24pt;
}

.logo{/*
	width: 100%; 
	height: 100%;
	max-width: 300px;*/
	float: left;
    /*padding: 10px auto 10px auto;*/
	
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.web_text{ width: 100%; float: left; font-size: 48px; padding-top: 160px;}
.margin-top-20{ margin-top: 20px; }

.donec_text{
	font-size: 17px;
    color: #110f0a;
    margin-left: 0;
    padding-bottom: 20px;
    z-index: 9;
    position: relative;
	font-weight: 400;
}

.bannen_inner{
	width: 100%;
	float: left;
}
.taital_main{
	width: 100%;
	float: left;
	margin-top: 30px;
}
.get_bg{
	background-color: #2ba879;
	padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    padding: 11px 16px 14px 15px;
    margin-right: 25px;
}

a:hover {
    /*color: #fff;*/
    color: rgba(60,186,84,1);}

.get_bga:hover {
    color: #000	;}
.get_bga:not(:disabled):not(.disabled).active, .get_bga:not(:disabled):not(.disabled):active, .show>.get_bga.dropdown-toggle {
    color: #000;
    background-color: #1d2124;
    border-color: #171a1d;
}


button.btn.btn-primary, button.btn.btn-primary:hover, button.btn.btn-primary:focus {
    background: #136af8;
    padding: 10 40px;
}


.search_bt{
 border-top-right-radius: 30px !important; 
 border-bottom-right-radius: 30px !important; 
 color: #fff; 
 padding-bottom: 10px; 
 padding-top: 10px;
 background-color: #000;
 padding: 15px 45px;
 border: 0px;

}

.form-control:not(:last-child) {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-left: 25px;
}

.choose_section{
	width: 100%;
	float: left;
	margin-top: 40px;/*
	margin-bottom: 40px;*/
}

.choose_text{
	width: 100%;
	float: left;
	text-align: center;
	color: #030907;
	    font-weight: 600;

}
.lorem_text{
	width: 100%;
	float: left;
	text-align: center;
}

.color{
	color: #3cba54;
}

.choose_section_2{
	width: 100%;
	float: left;
}

.power_full{
	width: 100%;
	float: left;
	background-color: #2aaf80;
	background-color: #ffffff;
	border-radius: 30px;
	padding: 20px;
	box-shadow: 0px 0px 8px 0px;
    border: 2px solid #298039;
}

.power {
	width: 100%;
	float: left;
	background-color: #ffffff;
	border-radius: 30px;
	padding: 20px;
    box-shadow: 0px 0px 8px 0px;
}


.power-image img {
	width: 100%;
	float: left;
	padding: 0px;
	background-color: #ffffff;
	border-radius: 15px;
    box-shadow: 0px 0px 8px 0px;
}

.icon{
	text-align: center;
	margin-top: 1px;
}
/*
.icon:hover {
  transform: scale(1.1); 
}
*/

.powerful_text{
	width: 100%;
	float: left;
	text-align: center;
	margin-top: 20px;	
	color: #ffffff;
	color: #000;

}

.totaly_text{
		width: 100%;
	float: left;
	text-align: center;
	margin-top: 20px;	
	color: #000;


}

.forms_text, .forms_text2{
	width: 100%;
	float: left;
	text-align: left;
	margin-top: 1px;	
	margin-bottom: 0px;	
	color: #ffffff;
	color: #000;
	margin-left: 0;
}

.forms_text2{
	margin-left: -8px;
	width: 40%;
	padding: 2px 0 0;
    font-size: 14px;	
	overflow: visible;
	white-space: nowrap;
}

.notes_text{
	width: 100%;
	float: left;
	text-align: left;
	margin-top: 1px;	
	margin-bottom: 0px;	
	color: #ffffff;
	color: #000;
	margin-left: 0;
    font-size: 12px;
	font-family: 'Raleway', sans-serif;
}

.forms_text_disabled{
	width: 100%;
	float: left;
	text-align: left;
	margin-top: 1px;	
	margin-bottom: 0px;	
	color: #adadad;
	margin-left: 0;

}

.making_tetx{
	width: 100%;
	float: left;
	text-align: center;
	margin-top: 20px;	
	color: #ffffff;
	color: #000;
	margin-left: 0;

}

.making{
	width: 100%;
	float: left;
	text-align: center;
	margin-top: 20px;	
	color: #000;
	margin-left: 0;

}

.btn_main{
	width: 50%;
	margin: 0 auto;
	text-align: center;
}
.read_bt{
	height: 50px;
    width: 100%;
    float: left;
    border-radius: 11px;
    border: 0px;
    color: #ffffff;
    background-color: #000;
    margin-top: 30px;
    font-size: 17px;
    margin-bottom: 30px;
}

.read_bt a:hover{ color: #ffffff;}

.about_main { 
	width: 100%;
	float: left;
    background: rgb(20,65,29);
	background: linear-gradient(110deg, rgba(20,65,29,1) 0%, rgba(27,88,39,1) 30%, rgba(60,186,84,1) 100%);
    height: auto; min-height: 400px; 
	margin-top: 70px; 
	margin-bottom: 30px;
	position: relative;
	clip-path: polygon(0 0, 100% calc(5vw),  100%  100% , 0 calc(100% - 5vw));
 }


.images{
	margin: 30px;
	width: 100%;
    margin-left: 0px;
}

.right_section_main{
	width: 100%;
	float: left;
	/*background-color: #ffffff;*/
    padding: 0 50px 0 50px;
    margin-top: 31px;
	color: #fff
}
.dolar_tetx{
	width: 100%;
	float: left;

}

.special_text{
	color: #000;
	font-weight: 700;
}

.right_aero{
   max-width: 100%;
   left: -245px;
   position: relative;
   top: -160px;
}

.about_inner{
	width: 100%;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;	
	background-color: #ffffff;
	border-radius: 20px;
    border: 2px solid #55b994;
}
.dedicated{
	width: 100%;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;	
	background-color: #2ba879;
	border-radius: 20px;
	box-shadow: 0px 0px 8px 0px;


}

.justo_text{
	width: 100%;
	text-align: center;
	float: left;
	margin: 0px;
	padding-bottom: 20px;
	padding-top: 20px;
	color: #ffffff;
}
.hosting_text{
	color: #ffffff;
	text-align: center;
	margin-top: 20px;

}

.bt_main{
	width: 16%;
	margin: 0 auto;
	text-align: center;
    margin-top: 45px;}


.read_more{
	height: 50px;
    width: 100%;
    float: left;
    border-radius: 11px;
    border: 0px;
    color: #ffffff;
    background-color: #000;
    margin-top: 30px;
    font-size: 17px;
    margin-bottom: 30px;
}

.read_more a:hover{ color: #ffffff;}

.contact_section{ width: 100%; float: left; margin-top: 65px; }

.contact_section_2{
	width: 100%;
	float: left;
	background-image: url(../images/contact-bg.png);
	height: auto;
	padding-top: 100px;
	padding-bottom: 100px;
	background-size: cover;
	margin-top: 65px;
	z-index: 5;
    position: relative;
}

.section_right{
	width: 100%;
	float: left;
	margin-top: 15px;
}

.input_main {
    width: 100%;
    float: left;
    background-color: #ffffff;
    padding: 40px 20px;
    border-radius: 20px;
    margin-top: 15px;
}

.form-group-res {
	display: inline-block; 
	margin-bottom: 0px;
    width: 100%;
}

.email-bt, .email-bt_disabled, .email-bt-hidden, 
.email-bt2 {
    background: #ececec;
    border: none;
    color: #000;
    width: 100%;
    height: 20px;
    font-size: 14px;
    padding: 15px;
    border-radius: 10px;
    margin-top: 0px;
    font-family: 'Poppins', sans-serif;
}

.email-bt_disabled {
    color: #adadad;
    width: 100%;
}

.email-bt-hidden {
    color: #000;
    width: 100%;
	visibility: hidden;
}

.email-bt2 {
	width: 50%;
	float: right;
    margin-right: 0px;
}

.selectpicker {
    background: #ececec;
    border: none;
    color: #000;
    width: 100%;
    height: 45px;
    font-size: 14px;
    font-weight: 600;
    padding: auto 0;
    border-radius: 10px;
}
	
.massage-bt {
    background: #ececec;
    border: none;
    color: #000;
    width: 100%;
    height: 145px;
    font-size: 22px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 6px;
}
.margin-0{ margin: 0px; padding: 0px; }

button.main_bt {
    background: #ce4109;
    border: none;
    color: #fff;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    font-size: 22px;
}

button.main_bt a:hover {
	color: #ffffff;
}

.send_btn{
	width: 30%;
	margin: 0 auto;
	text-align: center;
}

.contact_section_3{
	width: 100%;
	float: left;
	background-color: #2c2c2c;
	padding-bottom: 30px;	
	padding-top: 30px;
    margin-top: -80px;}

.contact_taital{
	width: 100%;
	float: left;
	padding-left: 100px;
	padding-right: 100px;
	margin-top: 100px;
}

.web{
	background-color: #ffffff;
	border-radius: 30px;
	height: auto;
	padding-top: 20px;	
	padding-bottom: 20px;
}

.londan_text{ padding-left: 20px;}
.map_main{
	width: 100%;
	float: left;
	font-size: 17px;
	color: #afafaf;
	padding-left: 17px;
	text-align: center;
}

.contact_product{
	width: 100%;
	float: left;
	padding-bottom: 20px;
	padding-top: 65px;
}

.menu{
	width: 100%;
	float: left;
	margin-top: 15px;
}
.menu ul{margin: 0px; padding: 0px;}

.menu ul li{ color: rgba(200,65,29,1); } /*rgba(20,65,29,1)*/
.menu ul li a:hover{ color: #fcfcfc; }
.useful_text{ 
	width: 100%; 
	float: left; 
	color: #fcfcfc; 
	font-size: 24px; 
	font-weight: bold; 
	margin-top: 15px; }
.menu.multi_column_menu li {
    float: left;
    width: 33.33%;
}

.footer-logo{ margin-top: 70px;}


.subsrcibe_bt {
    border-top-right-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
    color: #fff;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #2ba879;
    padding: 15px 45px;
    border: 0px;
}

.margin-top-30 { padding-top: 25px;  width: 90%;}

.icon_main{ width: 100%; float: left; text-align: center;}
.menu_text {width: 20%;
    margin: 0 auto;
    text-align: center;}
.menu_text ul { margin: 0px; padding: 0px;}	
.menu_text li { float: left; padding-left: 6px; padding-right: 25px; }

.copyright_main{ 
	width: 100%; 
	float: left; 
    background: rgb(20,65,29);
	background: linear-gradient(110deg, rgba(20,65,29,1) 0%, rgba(27,88,39,1) 30%, rgba(60,186,84,1) 100%);
	height: auto;
	padding-bottom: 5px; 
	padding-top: 5px; 
}

.copy_text{ width: 100%; float: left; text-align: center; color: #ffffff;   
  margin-left: 0px; margin-right: 0px; }
.copy_text a:hover{ color: #000; }
.footer_menu{ padding-right: 10px; }


.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #298039;
}

input:focus + .slider {
  box-shadow: 0 0 1px #298039;
}

input:checked + .slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 25px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch span {
  display: inline-block;
  position: relative;
  margin-left: 60px;
  font-size:12px;
  float: left;
}

.outer {
  margin-right: 5px;
  margin-left: 5px;
  overflow: scroll;
  position: relative;	
  max-height: 140vw;
}

table {
  font-family: 'Poppins', sans-serif;
  position: relative;
  border-collapse: collapse;
  color: #000;
  vertical-align: middle;
  font-size: 12px;
}


td, th {
  text-align: center;
  padding: 8px;
  border: 1px solid #ddd;
  /*white-space: wrap;*/
}

thead th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;
  color: #110f0a;
  background: #FFF;
  z-index: 9999;
}

thead th:first-child {
  left: 0;
}

tbody th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  left: 0;
  background: #FFF;
  border-right: 1px solid #CCC;
  z-index: 999;
}

tr:nth-child(even) {
  background-color: #eeeeee;
}

.chart {
  text-align: center;
  margin-top: 40px;
  width: 100%; 
  min-height: 200px;
}


.mytooltip {
    display: inline;
    position: relative;
    z-index: 999
}

.mytooltip .tooltip-item {
    /*background: rgba(0, 0, 0, 0.1);*/
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    padding: 0 10px
}

.mytooltip .tooltip-content {
    position: absolute;
    z-index: 9999;
    width: 180px;
    left: 50%;
    margin: 0 0 20px -80px;
    bottom: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    -webkit-box-shadow: -5px -5px 15px rgba(48, 54, 61, 0.2);
    box-shadow: -5px -5px 15px rgba(48, 54, 61, 0.2);
    background: #2b2b2b;
    opacity: 0;
    cursor: default;
    pointer-events: none
}

.mytooltip .tooltip-content::after {
    content: '';
    top: 100%;
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: #2a3035 transparent transparent;
    border-width: 10px;
    margin-left: -10px
}

.mytooltip .tooltip-content img {
    position: relative;
    height: 189px;
    display: block;
    float: left;
    margin-right: 1em
}

.mytooltip .tooltip-item::after {
    content: '';
    position: absolute;
    /*width: 360px;*/
    height: 20px;
    bottom: 100%;
    left: 50%;
    pointer-events: none;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.mytooltip:hover .tooltip-item::after {
    pointer-events: auto
}

.mytooltip:hover .tooltip-content {
    pointer-events: auto;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0deg);
    transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0deg)
}

.mytooltip:hover .tooltip-content2 {
    opacity: 1;
    font-size: 18px
}

.mytooltip .tooltip-text {
	text-align: left;
    font-size: 12px;
    line-height: 18px;
    display: block;
    /*padding: 1.31em 1.21em 1.21em 0;*/
    color: #fff;
	width: 300px;
	margin-left: -140px;
    bottom: 100%;
    left: 50%;
    padding: 5px 15px
}


div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: -100px;
  z-index:9999;
}
/*
@media (max-width: 769px) {
  div.sticky {
    position: relative;
  }
}
}*/

.mobileShow {
	display: none;
	width: 100%;
	float: left;
	text-align: center;
	/*color: #3cba54;/*#030907;*/
	color: #030907;
	font-weight: 600;
	padding: 1px 1px;
	background-color: #e7e7e7;
	border-radius: 5px;
	border: 2px solid #3cba54;
}

/* Smartphone Portrait and Landscape */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px){ 
  .mobileShow {display: inline;}
}

.cookiealert {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    border-radius: 0;
    transform: translateY(100%);
    transition: all 500ms ease-out;
    color: #ecf0f1;
    background: #212327 ;
}

.cookiealert.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
    transition-delay: 1000ms;
}

.cookiealert a {
    text-decoration: underline
}

.cookiealert .acceptcookies {
    margin-left: 10px;
    vertical-align: baseline;
}